.App {
  text-align: center;
}

.blank{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
}
.blank:focus{
  outline: none;
  font-size: x-large;
  border-bottom: 2px solid black;
}
.correct{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  color: green;
}
.correct:focus{
  outline: none;
  font-weight: bolder;
  font-size: x-large;
  border-bottom: 2px solid black;
}
.incorrect{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  color: red;
}
.incorrect:focus{
  outline: none;
  font-weight: bolder;
  font-size: x-large;
  border-bottom: 2px solid black;
}